<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uppsala.biketracking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".PowerSavingSync"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_EXTERNAL_APPLICATIONS_AVAILABLE" />
                <action android:name="android.intent.action.ACTION_BATTERY_LOW" />
                <action android:name="android.intent.action.ACTION_BATTERY_OKAY" />
            </intent-filter>
        </receiver>
        <receiver android:name=".NetworkStateNotifier">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="uppsala.biketracking.NetworkStateNotifier" />
            </intent-filter>
        </receiver>

        <service
            android:name=".PowerSavingModule"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="BATTERY_CHECK" />
            </intent-filter>
        </service>
        <service
            android:name=".ActivityRecognitionSensor"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="uppsala.biketracking.ActivityRecognitionSensor" />
            </intent-filter>
        </service>
        <service
            android:name=".RecordLocationSensor"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="uppsala.biketracking.RecordLocationSensor" />
            </intent-filter>
        </service>
        <service
            android:name=".ApiService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="CHECK_BATTERY_STATE" />
                <action android:name="NETWORK_NOTIFICATION" />
                <action android:name="ACTIVITY_RECOGNITION" />
                <action android:name="LOCATION_UPDATES" />
                <action android:name="RECORD_LOCATION" />
                <action android:name="CORRECT" />
                <action android:name="UPLOAD" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            tools:replace="android:value"
            android:value="@string/the_map_key" />
        <meta-data
            android:name="SNAP_API"
            tools:replace="android:value"
            android:value="@string/the_snap_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps">
            <uses-library android:name="com.google.android.maps" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
